		
.counter{
		font-size: 72px;
        font-family: monospace;
        color: #333;
        font-weight: bold;
    }


.backGround{
        margin: 20px;
        padding: 50px;
        background-color: #FFC53A;
        width: 250px;
        height: 250px;
        border-radius: 10px;
        text-align: center;
    }

.styleButton{
            font-size: 1em;
            font-family: monospace;
            color: #333;
            font-weight: bold;
            width: 30px;
            height: 30px;
            line-height: 3px;
            text-align: center;
          };

.para {
		color: #333;
}