body {
  margin: 0;
  font-family: monospace;
  background-color: #072255;
}

#etykieta{
	float: right;
	width: 75%;
	margin: 0;
	padding: 30px;
	color: #FFF;
}


.linki{
	float: left;
	width: 25%;
	margin: 0;
	padding: 10px;
	height: 100vh;

}



.root{
	float: left;
	width: 75%;
	margin: 0;
	padding: 30px;
}


nav a {
	width: 100%;
	margin-top: 5px;
	padding: 10px;
	border: 2px solid #777; 
	background-color: #777;
	color: #FFF;
	font-size: 16px;
	text-decoration: none;
	display: block;
}
nav a:hover {
    background-color: #111;
    border-color: #111;
    cursor: pointer;
  }